
.note {
    width: 800px;
    border: 1px solid #ccc; /* Обводка заметки */
    border-radius: 8px; /* Закругленные углы */
    padding: 16px; /* Внутренний отступ */
    margin: 10px; /* Внешний отступ */
    background-color: #f9f9f9; /* Фоновый цвет */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
    word-wrap: break-word;
}

.noteHeader {
    position: relative;
    flex-grow: 1; /* Позволяет строке занимать доступное пространство */
    font-size: 1.5em; /* Размер шрифта заголовка */
    font-weight: bold; /* Жирный шрифт */
    margin-bottom: 8px; /* Отступ снизу */
}

.noteDropDownMenu{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
}

.noteDropDownButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    border-radius: 30px; /* Закругленные углы */
    border: 1px solid #ccc; /* Обводка заметки */
    background-color: #f9f9f9; /* Фоновый цвет */
    color: #333; /* Цвет текста */
}

.noteDropDownMenu a{
    display: block;
}

.noteDropDownMenu .content{
    display: none;
    position: absolute;
    background-color: #e1e1e1;

}

.noteDropDownMenu:hover .content{
    display: block;
}

.divider {
    height: 1px; /* Высота делителя */
    background-color: #ddd; /* Цвет делителя */
    margin: 10px 0; /* Отступ сверху и снизу */
}

.noteBody {
    font-size: 1em; /* Размер шрифта для тела заметки */
    color: #333; /* Цвет текста */
    margin-bottom: 10px; /* Отступ снизу */
}

.noteFooter {
    font-size: 0.9em; /* Размер шрифта для нижней части заметки */
    color: #777; /* Цвет текста для нижней части */
    text-align: right; /* Выравнивание текста по правому краю */
}